* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --bg-primary: rgb(31, 30, 30);
    --text-color: white;

    --p-0: 0;
    --p-xs: 4px;
    --p-sm: 8px;
    --p-md: 16px;
    --p-lg: 24px;
    --p-xl: 32px;
    --p-2xl: 48px;
    --p-3xl: 64px;

    --bg-button: rgb(67, 66, 66);

    --radius-none: 0;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-2xl: 24px;
    --radius-round: 9999px;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary);
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: clamp(14px, 1.5vw, 18px);
}

main {
    max-width: 1600px;
}

@mixin flexBox($gap) {
    display: flex;
    align-items: center;
    gap: $gap;
}

main {
    width: 100%;
    @include flexBox(0);
    flex-direction: column;
    margin: auto;

    .nav-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
    }

    .nav-bar nav {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .nav-bar a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    .cart-nav {
        background-color: var(--bg-button);
        padding: 12px 24px;
        border-radius: var(--radius-sm);
    }

    .nav-bar nav a:nth-child(1),
    .nav-bar nav a:nth-child(2) {
        display: none;
    }

    .view1 {
        width: 100%;
        @include flexBox(1rem);
        padding: var(--p-sm) var(--p-md);
        flex-direction: column;


        .top {
            @include flexBox(0);
            flex-direction: column;
            width: 100%;


            img {
                width: 100%;
                border-radius: var(--radius-md);
            }
        }

        .bottom {
            padding: var(--p-sm) var(--p-md);
            background-color: rgb(42, 41, 41);
            display: flex;
            flex-direction: column;
            gap: 5rem;
            border-radius: var(--radius-md);
            padding: 2rem;

            .bottom-text {
                @include flexBox(1.5rem);
                flex-direction: column;
                align-items: start;

                h1 {
                    font-size: 2.5rem;
                    font-weight: 100;
                }

                p {
                    font-size: 1.4rem;
                    color: rgb(161, 161, 161);
                    font-weight: 100;
                }

                .bottom-button {
                    color: var(--text-color);
                }
            }
        }
    }

    .view2 {
        width: 100%;
        justify-content: center;
        @include flexBox(7rem);
        flex-direction: row;
        padding: var(--p-lg);

        .view2-top,
        .view2-bottom {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            gap: 4rem;
            text-align: center;
        }
    }

    .view3 {
        width: 100%;
        @include flexBox(1rem);

        padding: var(--p-sm) var(--p-md);
        flex-direction: column;

        .view3-top {
            width: 100%;

            img {
                width: 100%;
                border-radius: var(--radius-md);
                height: 100%;
                object-fit: cover;
                border-radius: var(--radius-md);
            }
        }

        .view3-bottom {
            padding: var(--p-sm) var(--p-lg);
            background-color: rgb(42, 41, 41);
            display: flex;
            flex-direction: column;
            gap: 5rem;
            border-radius: var(--radius-md);
            padding: 2rem;

            .bottom-text {
                @include flexBox(1.5rem);
                flex-direction: column;
                align-items: start;

                h3 {
                    font-size: 2.5rem;
                    font-weight: 100;
                }
                .bottom-paragraph{
                    @include flexBox(0);
                p {
                    font-size: 1.4rem;
                    color: rgb(161, 161, 161);
                    font-weight: 100;

                }

            }

        }
    }
}

@media (min-width: 600px) {
    main {

        .nav-bar nav a:nth-child(1),
        .nav-bar nav a:nth-child(2) {
            display: inline-block;
        }

        .view1 {
            flex-direction: row;
            align-items: stretch;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: var(--p-2xl);

                .bottom-text {
                    gap: 2rem;
                }
            }

        }

        .view2 {
            @include flexBox(10rem);
            flex-direction: row;
            padding: var(--p-2xl);

            .view2-top,
            .view2-bottom {
                display: flex;
                flex-direction: row;
                font-size: 1.5rem;
                gap: 10rem;

            }
        }

        .view3 {
            flex-direction: row-reverse;

            .view3-top,
            .view3-bottom {
                width: 50%;
            }
            .bottom-paragraph{
                flex-direction:row ;
            }
        }
    }
}