*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(36, 36, 36);
    color: rgb(192, 192, 192);
}
:root {
    --bg-primary: rgb(31, 30, 30);
    --text-color: white;

    --p-0: 0;
    --p-xs: 4px;
    --p-sm: 8px;
    --p-md: 16px;
    --p-lg: 24px;
    --p-xl: 32px;
    --p-2xl: 48px;
    --p-3xl: 64px;

    --bg-button: rgb(67, 66, 66);

    --radius-none: 0;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-2xl: 24px;
    --radius-round: 9999px;
}

@mixin flexCol($gap:0rem){
    display: flex;
    flex-direction: column;
    gap:$gap;
}

main{
    width: 100%;
    @include flexCol(1rem);


    .nav-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
    }

    .nav-bar nav {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .nav-bar a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    .cart-nav {
        background-color: var(--bg-button);
        padding: 12px 24px;
        border-radius: var(--radius-sm);
    }

    .nav-bar nav a:nth-child(1),
    .nav-bar nav a:nth-child(2) {
        display: none;
    }

    section{
        width: 100%;
        @include flexCol(1rem);
        padding: 1rem;
        
        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        .bottom{
            background-color: rgb(61, 61, 61);
            @include flexCol(3rem);
            padding: 1.5rem;
            border-radius: 10px;

            .text{
                @include flexCol(1.5rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }
                p{
                    font-weight: 300;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 2rem;
                }
                button{
                    width:fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    .view2{
        width: 100%;
        @include flexCol(0rem);
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        
        .view2-top{
            display: flex;
            flex-direction: row;
            justify-content: space-between
        }

        .view2-top,.view2-bottom{
            width: 100%;
            @include flexCol(3rem);
            font-size: 1.7rem;
        }
    }

    .view3{
        width: 100%;
        @include flexCol(1rem);
        .view3-top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        .view3-bottom{
            background-color: rgb(61, 61, 61);
            @include flexCol(3rem);
            padding: 1.5rem;
            border-radius: 10px;

            .view3-text{
                @include flexCol(1.5rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }
                .view3-para{
                    @include flexCol(0rem);
                    p{
                    @include flexCol(0rem);
                    font-weight: 300;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height: 2rem;

                }
                }
               
            }
        }
    }
}

@media (min-width:900px){
    main{
        .nav-bar nav a:nth-child(1),
        .nav-bar nav a:nth-child(2) {
            display: inline-block;
        }
        section{
            flex-direction: row;
            .bottom{
                justify-content:space-between;
                p{
                    font-size: 1.5rem;
                }
            .text{
                @include flexCol(1.5rem);

                h1{
                    font-weight: 400;
                    font-size: 3rem;
                    text-transform: uppercase;
                }
                p{
                    font-weight: 300;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 3rem;
                }
                button{
                    width:fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
            }
            .top,.bottom{
                width: 50%;
            }
        }
        .view2{
        .view2-top,.view2-bottom{
            @include flexCol(0rem);
            flex-direction: row;
            font-size: 1.7rem;
            justify-content: space-around;
        }
        }
        .view3{
        width: 100%;
        @include flexCol(1rem);
        flex-direction: row-reverse;
        .view3-bottom{
            background-color: rgb(61, 61, 61);
            @include flexCol(3rem);
            padding: 1.5rem;
            border-radius: 10px;
            flex-direction: column;
            justify-content: space-between;
            
            p{
                font-size: 1.5rem
            }

            .view3-text{
                @include flexCol(1.5rem);
       
                h1{
                    font-weight: 200;
                    font-size: 2rem;
                    text-transform: uppercase;
                }
                .view3-para{
                    @include flexCol(2rem);
                    flex-direction: row;
                    p{
                    @include flexCol(0rem);
                    font-weight: 200;
                    font-size: 1rem;
                    opacity: 0.6;
                    line-height: 2rem;
                }
                }
               
            }
        }
        .view3-top,.view3-bottom{
            width: 50%;
        }
    }

    }
}